.sign{
    background-image: url(./images/pexels-lisa-fotios-1182338.jpg);
    background-size: cover;
    color: rgb(209, 160, 25);
    height:570px;
    width: 100%;
}
h1{
    font-size: 3rem;
    text-align: center;
}
h2{
    font-size: 2rem;
    text-align: center;

}
.box{
    box-shadow: 2px 1px 10px 2px white;
    width: 400px;
    height: 458px;
    margin: auto;
}
input {
    border: 2px solid #e849e8 ;
}
#textarea{
    border: 2px solid #e849e8 ;
}
.box div{
    font-size: 1.5rem; 
    padding-left: 50px;
    padding-top: 10px;
}
#email{
    margin-left: 39px;
}
#lastname{
    margin-left: 3px;
}
.btn{
    font-size: 1.5rem;
    border-radius: 20px;
    padding: 2px 10px;
    cursor: pointer;
    color: white;
    background-color: #e849e8;
}
#p{
    padding-top: 0px;
}
.box p{
    color: white;
    word-spacing: 10px;
}
.box a{
    text-decoration: none;
    color: white;
    border-radius: 20px;
    padding: 5px 20px;
    background-color: #e849e8;
}
/* @media (max-width:480px) {
    .box{
        width: 300px;
        height: 400px;
    }
} */